<!DOCTYPE html>
<link rel="stylesheet" href="/assets/css/main.scss"><link type="application/atom+xml"  title="Mathieu Ouellet, University of Pennsylvania" /></head>



<html lang="{{ site.lang }}">

  <!-- Head -->
  <head>
  {%- if page.redirect -%}
    <meta http-equiv="refresh" content="3; url={{ site.baseurl | prepend: site.url }}/" />
  {%- endif -%}
  
  {% include head.html %}
  </head>


  <a class="menu-toggle rounded" href="">
  <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
              <a class="js-scroll-trigger" href="#page-top">Hello!</a>
          </li>
          <li class="sidebar-nav-item">
              <a class="js-scroll-trigger" href="{{ site.url }}">Home</a>
          </li>
          <li class="sidebar-nav-item">
              <a class="js-scroll-trigger" href="{{ site.url }}">About</a>
          </li>
          <li class="sidebar-nav-item">
              <a class="js-scroll-trigger" href="/publications/">Publications</a>
          </li>
      </ul>
  </nav>



  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">
    
        <!-- Navigation -->
      

    <!-- Content -->
    <div class="container mt-5">
      {{ content }}
    </div>

    <!-- Footer -->
    <!-- {%- include footer.html %} -->

    <!-- JavaScripts -->
    {% include scripts/jquery.html %} 
    {% include scripts/bootstrap.html %} 
    {% include scripts/masonry.html %} 
    {% include scripts/misc.html %} 
    {% include scripts/mathjax.html %} 
    {% include scripts/analytics.html %}
  </body>
</html>